.grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.grid-item {
  background-color: #ddd;
  padding: 20px;
}
#currencyTable {
  grid-column: 1 / span 2;
}
@media screen and (max-width: 599px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  #currencyTable {
    grid-column: 1 / span 1;
  }
}
